@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Open+Sans&family=Rubik+Vinyl&family=Titillium+Web&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  color: black;
  /* background-image: url('https://m.media-amazon.com/images/M/MV5BNzgyMTMyNDg2NF5BMl5BanBnXkFtZTgwMDMyODQyOTE@._V1_QL75_UX500_CR0,0,500,281_.jpg');
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 100vh; */
}
.img1{
  width: 20%;
  height: 100px;
  object-fit: cover;
  margin-top: 30px;
  /* border-radius: 50%; */
  margin-left: 200px;
}
.text{
  font-size: 50px;
  color:black;
  text-align: center;
  font-family: "La Belle Aurore",sans-serif;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
  0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
}
.text:hover{
  color: #fff;
  background: burlywood;
  transition: ease-in;

}
.animal-poster{
  width: 340px;
  height: 500px;
  object-fit: cover;
}
.animal-container{
  width: 340px;
}

.animal-name{
  font-size: 24px;
  margin: 0;
}
.animal-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.animal-summary{
  margin-top: 0;
}
.animal-rating{
  font-size: 18px;
}
.animalList{
  display: flex;
  gap:10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.counter-container{
  /* font-size: 50px; */
  display: flex;
  gap:10px
}
.like-dislike{
  font-size: 20px;
  /* gap: 30px; */
}
.add-animal-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px;
}

.card-form{
  height: 780px;
  width: 500px;
  /* background-color: red; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
  rgba(0, 0, 0, 0.12) 0px -12px 30px,
   rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* text-align: center; */
    font-size: 20px;
   margin-left: 200px;
   margin-top: 50px;
   font-weight: bold;
}

.form{
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
gap: 10px;

}
.detail{
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  /* line-height: 10px;
  border: none; */
}
.detail input{
  line-height: 10px;
  border: none;
  margin-left: 20px;
  padding: 20px;
}
.detail{
position: absolute;

}
.button{
  position: relative;
  bottom: 200px;
  right: 500px;
 
}
.detail button{
  background-color: rgba(145, 21, 124, 0.699);
  color: white;
  border: none;
  padding: 10px;
  width: 200px;
  cursor: pointer;
}
.detail button:hover{
  background-color: #ff8d00;
}
.not-found{
  text-align: center;
  font-size: 54px;
  margin: 0;
}